.info-item {
  margin-left: 10px;
}
/* Tampilan responsif untuk layar lebih kecil */
@media (max-width: 768px) {
  .section-title .row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .section-title .col {
    text-align: left;
  }

  .info-item p {
    margin-left: 20px;
  }
}
